In [1]:
sns.set()
%matplotlib inline

# EDA : House Price in Ames
### 1) General Approach
### 2) Feature Engineering 
### 3) Feature Selection

### 1) General Approach 
* 데이터프레임의 statistic information 을 descirbe() 메소드 사용하여 살펴보기 
* head(), tail(), sample() 메소드 사용하여 데이터 자세히 살펴보기 
* 간단한 query()를 통해 각 칼럼에 대한 insight 찾기 
* missing values 를 isnull() 메소드를 사용해 찾고, median 으로 바꾸기 
* (oulier는 box 또는 scatter plot 사용하여 걸러내기)

In [2]:
hp_train = pd.read_csv('./train.csv')
hp_test = pd.read_csv('./test.csv')

In [3]:
hp_train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [4]:
hp_train.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500

In [5]:
hp_train.tail(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [6]:
hp_train.sample(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1150,1151,20,RL,57.0,8280,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,11,2007,WD,Normal,124000
94,95,60,RL,69.0,9337,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,204750
642,643,80,RL,75.0,13860,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2009,WD,Normal,345000
441,442,90,RL,92.0,12108,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,118000
218,219,50,RL,NaN,15660,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2008,WD,Normal,311500

In [7]:
# 대부분의 집의 1층은 2층보다 큰 공간을 갖고 있다. 
len(hp_train[hp_train['1stFlrSF'] > hp_train['2ndFlrSF']])

1270

In [8]:
# 동일한 값을 나타내고 있는 두 개의 칼럼을 확인함. 둘 중 한가지 drop 가능해보임 
len(hp_train['GarageCond'] == hp_train['GarageQual'])

1460

In [9]:
# 대부분의 miscellaneous feature 칼럼은 shed이다. 그마저도 49개 불과하다. 
hp_train['MiscFeature'].value_counts()

Shed    49
Gar2     2
Othr     2
TenC     1
Name: MiscFeature, dtype: int64

In [10]:
# 더군다나 miscellaneous 의 가치는 평균값은 43 에 불과하다. 생략해도 될 듯한 
# 자료로 보인다.
hp_train['MiscVal'].mean()

43.489041095890414

In [11]:
# 195 개의 집이 multi conditions 를 보이고 있다. 
# multi conditions 를 갖는 집은 높은 가격을 형성하고 있을 것이라 생각되는데 
# 그 이유는 접근성, 교통편리성 때문이다. 
len(hp_train[hp_train['Condition1'] != hp_train['Condition2']][['Condition1','Condition2']])

195

In [12]:
# multiple Exterior coverings 를 갖춘 집이 215 채가 있다. 
len(hp_train[hp_train['Exterior1st'] != hp_train['Exterior2nd']][['Exterior1st','Exterior2nd']])

215

In [13]:
# multiple type of basement finished area 를 갖춘 집이 1029 채가 있다. 
len(hp_train[hp_train['BsmtFinType1'] != hp_train['BsmtFinType2']][['BsmtFinType1','BsmtFinType2']])

1029

### 2) Feature Engineering
* pandas 의 factorize() 메서드를 사용해, 카테고리 컬럼을 숫자칼럼으로 바꿔준다.
* 숫자칼럼으로 바꿔준 후, missing values(이제는 -1 이다)를 median 값으로 바꾼다.

#### * concatenate train & test data set temporarily 
```
feature engineering 을 수행하기 전, train 과 test 데이터 셋을 하나로 합쳐, 
함께 작업해준다. feature engineering을 다 마친 후 다시 둘을 분리시킨다. 
```

In [14]:
# train 데이터 셋의 target column ('SalePrice')를 따로 저장해둔후 
# train 데이터 셋에서 삭제한다. 
data = hp_train['SalePrice']
hp_train.drop('SalePrice', axis=1, inplace=True);

In [15]:
hp_all = pd.concat([hp_train, hp_test], axis=0)
hp_all.shape

(2919, 80)

In [16]:
# NaN을 가지고 있는 칼럼을 추려낸다. 
hp_isnull = hp_all.isnull().sum() 
null_col = hp_isnull[hp_isnull.values != 0].index
null_col

Index(['MSZoning', 'LotFrontage', 'Alley', 'Utilities', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Electrical', 'BsmtFullBath',
       'BsmtHalfBath', 'KitchenQual', 'Functional', 'FireplaceQu',
       'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea',
       'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType'],
      dtype='object')

In [19]:
# NaN 을 해당칼럼의 median 값으로 바꿔준다. 
# 만일 카테고리칼럼이면 먼저 숫자칼럼으로 바꿔준 후 , -1을 median 값으로 바꿔준다.
for col in null_col:
    if hp_all[col].dtype == 'O':
        labels1, levels1 = pd.factorize(hp_all[col])
        hp_all[col] = labels1
        median1 = hp_all[col].median()
        hp_all[col].replace(-1, median1, inplace=True)
    else:
        median1 = hp_all[col].median()
        hp_all[col].replace(np.nan, median1, inplace=True)

In [22]:
# 마지막으로 NaN값을 갖고있진 않지만, 카테고리값인 칼럼들을 숫자칼럼으로 바꿔준다. 
for col in hp_all.columns:
    if hp_all[col].dtype == 'O':
        labels1, levels1 = pd.factorize(hp_all[col])
        hp_all[col] = labels1

### 3) Feature Selection 
* using method of 'Random Forest'

In [31]:
from sklearn.ensemble import RandomForestRegressor

In [32]:
# 데이터프레임을 원래대로 train 과 test 로 나눈다.
df_train = hp_all.iloc[:1460, :]
df_test = hp_all.iloc[1460:-1, :]

In [33]:
#scikit-learn 이 인자값으로 사용할 수 있는 array 형태를 만들어준다.
X = df_train.values
y = data.values

In [34]:
rfr = RandomForestRegressor()
rfr.fit(X, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [35]:
name = hp_all.columns.values

In [36]:
# 랜덤포레스트가 가장 중요한 feature를 나타내준다. 
sorted(zip(map(lambda x: round(x,4), rfr.feature_importances_), name), reverse=True)

[(0.57479999999999998, 'OverallQual'),
 (0.1139, 'GrLivArea'),
 (0.0504, 'TotalBsmtSF'),
 (0.030700000000000002, '2ndFlrSF'),
 (0.025899999999999999, 'BsmtFinSF1'),
 (0.025499999999999998, 'GarageArea'),
 (0.018499999999999999, 'GarageCars'),
 (0.013899999999999999, '1stFlrSF'),
 (0.010699999999999999, 'YearBuilt'),
 (0.010200000000000001, 'LotArea'),
 (0.0089999999999999993, 'BsmtQual'),
 (0.0083999999999999995, 'KitchenQual'),
 (0.0083000000000000001, 'LotFrontage'),
 (0.0073000000000000001, 'TotRmsAbvGrd'),
 (0.0057999999999999996, 'Neighborhood'),
 (0.0055999999999999999, 'BsmtUnfSF'),
 (0.0054000000000000003, 'OverallCond'),
 (0.0051000000000000004, 'MasVnrArea'),
 (0.0048999999999999998, 'YearRemodAdd'),
 (0.0045999999999999999, 'GarageYrBlt'),
 (0.0044000000000000003, 'Id'),
 (0.0040000000000000001, 'Fireplaces'),
 (0.0038, 'OpenPorchSF'),
 (0.0035999999999999999, 'CentralAir'),
 (0.0035000000000000001, 'MoSold'),
 (0.0032000000000000002, 'WoodDeckSF'),
 (0.0030000000000000001, 'LotShape'),
 (0.0020999999999999999, 'MSZoning'),
 (0.002, 'KitchenAbvGr'),
 (0.002, 'ExterQual'),
 (0.0018, 'GarageType'),
 (0.0015, 'Exterior1st'),
 (0.0014, 'SaleType'),
 (0.0014, 'MasVnrType'),
 (0.0014, 'HouseStyle'),
 (0.0014, 'HalfBath'),
 (0.0012999999999999999, 'Exterior2nd'),
 (0.0012999999999999999, 'EnclosedPorch'),
 (0.0012999999999999999, 'BsmtFinType1'),
 (0.0012999999999999999, 'BsmtExposure'),
 (0.0012999999999999999, 'BedroomAbvGr'),
 (0.0011000000000000001, 'YrSold'),
 (0.001, 'SaleCondition'),
 (0.001, 'RoofStyle'),
 (0.00089999999999999998, 'MSSubClass'),
 (0.00089999999999999998, 'HeatingQC'),
 (0.00080000000000000004, 'RoofMatl'),
 (0.00080000000000000004, 'GarageFinish'),
 (0.00080000000000000004, 'FireplaceQu'),
 (0.00080000000000000004, 'BsmtFullBath'),
 (0.00069999999999999999, 'LotConfig'),
 (0.00069999999999999999, 'BsmtFinSF2'),
 (0.00059999999999999995, 'FullBath'),
 (0.00050000000000000001, 'LandSlope'),
 (0.00050000000000000001, 'Functional'),
 (0.00040000000000000002, 'LandContour'),
 (0.00040000000000000002, 'Condition1'),
 (0.00029999999999999997, 'Fence'),
 (0.00020000000000000001, 'ScreenPorch'),
 (0.00020000000000000001, 'Foundation'),
 (0.00020000000000000001, 'ExterCond'),
 (0.0001, 'PoolQC'),
 (0.0001, 'PavedDrive'),
 (0.0001, 'MiscVal'),
 (0.0001, 'LowQualFinSF'),
 (0.0001, 'Electrical'),
 (0.0001, 'BsmtHalfBath'),
 (0.0001, 'BsmtFinType2'),
 (0.0001, 'BsmtCond'),
 (0.0001, 'BldgType'),
 (0.0001, 'Alley'),
 (0.0001, '3SsnPorch'),
 (0.0, 'Utilities'),
 (0.0, 'Street'),
 (0.0, 'PoolArea'),
 (0.0, 'MiscFeature'),
 (0.0, 'Heating'),
 (0.0, 'GarageQual'),
 (0.0, 'GarageCond'),
 (0.0, 'Condition2')]